@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
}

.card{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 300px;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
}

.qr-code-image{
    max-width: 300px;
    border-radius: 15px;
}

.qr-info{
    max-width: 290px;
    margin: 0 auto;
}

.qr-title{
    font-size: 23px;
    color: hsl(218, 44%, 22%);
}

.qr-text{
    color: hsl(220, 15%, 55%);
}